.body {
	background-color: #FF9BD2;
	width: 450px;
	margin: auto;
	border-radius: 50px;
	padding-top: 20px;
	box-shadow: 10px 10px 5px rgba(227, 61, 148, 1.0);
	border: solid black;
	display: grid; 
	justify-items: center;

	}

.container{

	display: grid; 
	grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto ;
    grid-gap: 10px;
	width: 380px;
	padding: 20px;
	
}

h1{
	color: #D63484;
}
